**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/Debug
**/Release
**/.config
**/node_modules
**/*.user
**/*.suo
**/*.log
.env
.env.*
!.env.example
docker-compose*.yml
nginx/
Dockerfile
.dockerignore
.gitignore
*.md
*.sln
Properties/launchSettings.json
Properties/serviceDependencies*.json

